<body onload='formulari.submit();'>
    <form method='post' name='formulari' action="{{url}}">
        <input type='hidden' name='CIP' value="{{CIP}}"/>
        <input type='hidden' name='DNI' value="{{DNI}}"/>
        <input type='hidden' name='DN' value="{{DN}}"/>
        <input type='hidden' name='IDIOMA' value="{{idioma}}"/>
        <input type='hidden' name='FIRMA' value="{{firma}}"/>
        <input type='hidden' name='CODI_USER_CONNECTAT' value="{{codiUserConnectat}}"/>
        <input type='hidden' name='NOM_USER_CONNECTAT' value="{{nomUserConnectat}}"/>
        <input type='hidden' name='DADES_AUXILIARS' value="{{dadesAuxiliars}}"/>
    </form>
</body>
